<footer class="py-5 bg-dark">
    <div style="color: red">
       COUNT BLOGS -{{count_blog()}} <br> 
       COUNT USERS -{{count_user()}}
    </div>
    <div style="color: red">
        SOCIAL ADRESS -{{info_website().social_adress}} <br>
        Email - {{info_website().email}} <br>
        Phone Number - {{info_website().phone_number}}
    </div>
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
   
</footer>